.top-des{
    text-align:left;
    margin-top: 50px;
    width: 350px;
}
#ab{
    color: #DF2E38;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.port{
    height: 50px;
    width: 80px;
    object-fit: cover;
}
.pro{
    font-family: 'Sacramento',cursive;
}
.but{
    height: 50px;
    width: 120px;
    background-color: #2C3333;
    color: #fff;
    border-radius: 10px;
}
.but:hover{
    background-color: black;
}
.btn{
    margin-left: -10px;
}

.profile{
    height: 200px;
    object-fit: contain;
    width: 200px;
    border-radius: 50%;
}
.about-title {
  --b: 0.1em;   /* the thickness of the line */
  --c: #DF2E38; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  text-align: center;
  font-family: "Montserrat",sans-serif;
  height: 92px;
  width: 200px;
  font-size: 35px;
  margin-left: 0px;
  margin-right: 0px;
}
.about-title:hover {
  --_p: 100%;
  height: 50px;
  --_s: .3s;
}
.about{
    padding-top: 5%;
    height: 100px;
    margin-left: 400px;
    color: black;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.about-p1{
    text-align: center;
    font-size: medium;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    height: 180px;
}
.about-p2{
    text-align: center;
    font-size: medium;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    height: 180px;
    margin-left: 50px;
    margin-right: 50px;
}
.about-para{
    height: 300px;
    width: 600px;
}
.about-box{
    height: 480px;
    background-color: #FFF1DC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-title {
  color: #000;
  position: relative;
  text-decoration: none;
  width: 140px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.skill-title::before {
  background: #62CDFF;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.skill-title:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.skill-row-1{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  margin-top: 50px;
  margin-bottom: 50px;
}
.skill-row-2{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  margin-top: 0%;
  margin-bottom: 50px;
}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chilli-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-input{
    background-color: #e9ecef;
    width: 100%;
    margin-top: 20px;
    height: 430px;
}
.contact-details{
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
.contact-tiltle{
    padding-bottom: 80px;
    width: 130;
}
.submit{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.name-in{
    height: 39px;
    width: 450px;
    box-shadow: 0 0 5px var(--grey);
    border-radius: 10px;
    margin-top: 3px;
}
.email-in{
    height: 39px;
    width: 450px;
    box-shadow: 0 0 5px var(--grey);
    border-radius: 10px;
    margin-top: 3px;
}
.name{
    margin-top: 40px;
    margin-bottom: 5px;
    margin-right: 400px;
}
.email{
    padding-top: 15px;
    margin-bottom: 5px;
    margin-right: 350px;
}
.message{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 380px;
}
.message-in{
    height: 80px;
    width: 450px;
    box-shadow: 0 0 5px var(--grey);
    border-radius: 10px;
    margin-top: 3px;
}
.but{
    height: 40px;
    width: 150px;
}
.con{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 50px;
}
.footer{
    width: 100%;
    height: 100%px;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.link{
    height: 30px;
    width: 30px;
}
.footer-link{
    text-decoration: none;
    color: #3C4048;
    font-family: 'Montserrat',sans-serif;
    padding-left: 600px;
}
.footer-link:hover{
    color: #fff;
}
.pro:hover{
    color: #11468F;
}
.icons{
    padding-top: 80px;
    margin-right: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.para-c{
    margin-bottom: 30px;
    margin-right: 500px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.copyright{
    text-decoration: none;
    color: #fff;
    font-size: 0.75rem;
    font-family: 'Montserrat',sans-serif;
    padding-top: 20px;
    padding-left: 550px;
}
.web1 {
   text-align: center;
   margin-bottom: 30px;
   font-size: x-large;
   font-weight: 600;
}
.web2 {
   text-align: center;
   margin-bottom: 30px;
   font-size: x-large;
   font-weight: 600;
}

.progress-flow {
   display: flex;
   justify-content: center;
   justify-content: space-around;
   font-family: "Poppins", sans-serif;
   margin-bottom: 40px;
}

.Progress-bar-1 {
   width: 50%;
}

.Progress-bar-2 {
   width: 50%;
}

.pro-1 {
   width: 50%;
   margin: auto;
   background-color: #edf2f4;
}

.pro-2 {
   width: 50%;
   margin: auto;
   margin-top: 30px;
}

.pro-3 {
   width: 50%;
   margin: auto;
   margin-top: 30px;
}
.portfolio{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 50px;
    background-color: bisque;
    margin-top: 50px;
}
.porto{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.porto-h{
  border: 8px solid;
  border-image: repeating-linear-gradient(135deg,#F8CA00 0 10px,#E97F02 0 20px,#BD1550 0 30px) 8;
  -webkit-mask: 
    conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
     var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
    conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
     0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: .3s, -webkit-mask-position .3s .3s;
  width: 200px;
}
.porto-h:hover {
  --_i: 100%;
  color: #CC333F;
  transition: .3s, -webkit-mask-size .3s .3s;
}
.port-para{
    width: 400px;
    justify-content: center;
    align-items: center;
}
.port-p{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 3;
}
.project{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    box-shadow: 3px 3px 3px 3px #62CDFF;
    border-radius: 10px;
    
}
.google-para{
    width: 400px;
    line-height: 3;
    text-align: center;
}
.dupe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.dupe-google{
    text-align: center;
}
.projects{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
input::placeholder{
   padding-left: 10px;
}

@media screen and (max-width: 600px){
    .top{
        display: flex;
        flex-direction: column;
        height: 600px;
    }
    .img-1{
        margin-right: 200px;
        margin-bottom: 200px;
    }
    .top-des{
        padding-top: 150px;
        margin-bottom: 50px;
    }
    .profile{
        height: 250px;
        width: 250px;
    }
    .top-h2{
        font-size: 40px;
    }
    .top-h1{
        font-size: 40px;
    }
    .top-h3{
        font-size: 40px;
    }
    #top-btn{
        height: 50px;
        width: 160px;
    }
    .about{
        margin-bottom: 20px;
        width: 0%;
    }
    .about-box{
        width: 100%;
        height: 630px;
        padding-bottom: 160px;
    }
    .about-title{
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 40px;
    }
    .about-para{
        width: 100%;
    }
    .about-p1{
        line-height: 1.5;
        font-size: 16px;
        margin-bottom: 70px;
    }
    .about-p2{
        line-height: 1.5;
        font-size: 16px;
    }
    .skill-title{
        font-size: 31px;
    }
    .skill-row-1{
        width: 100%;
    }
    .skill-row-2{
        width: 100%;
    }
    .portfolio{
        margin-top: 120px;
        height: 635px;
    }
    .porto{
        height: 50px;
        padding-top: 200px;
    }
    .porto-h{
        font-size: 40px;
        margin-bottom: 200px;
    }
    .port-para{
        font-size: 18px;
        margin-bottom: 200px;
    }
    .projects{
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .project{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 390px;
        margin-right: 0%;
    }
    .google-para{
        width: 310px;
    }
    .name-in{
        width: 350px;
    }
    .email-in{
        width: 350px;
    }
    .message-in{
        width: 350px;
    }
    .contact-details{
        padding-left: 30px;
    }
    .name{
        margin-right: 300px;
    }
    .email{
        margin-right: 250px;
    }
    .message{
        margin-right: 280px;
    }
    .footer{
        height: 127px;
    }
}
@media screen and (max-width: 412px){
    .top{
        display: flex;
        flex-direction: column;
        height: 620px;
        padding-left: 45px;
    }
    .top-des{
        margin-right: 50px;
        width: 250px;
    }
    .top-h2{
        font-size: 40px;
        width: 100px;
    }
    .top-h1{
        font-size: 40px;
        width: 250px;
    }
    .top-h3{
        font-size: 40px;
        width: 250px;
    }
    .img-1{
        padding-left: 70px;
    }
    .about-box{
        margin-top: 30px;
        padding-top: 50px;
    }
    .about{
        width: 0px;
        margin-left: 390px;
    }
    .about-p1{
        font-size: 15px;
    }
    .about-p2{
        font-size: 15px;
    }
    .skill-box{
        width: 100%;
    }
    .robo{
        width: 100%;
    }
    .chilli-img{
        margin-right: 100px;
        margin-right: 105px;
    }
    .chilli{
        width: 100%;
    }
    .skill-row-1{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .skill-row-2{
        width: 100%;
    }
    .progress-flow {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .Progress-bar-1 {
      width: 50%;
   }

   .Progress-bar-2 {
      width: 50%;
   }
   .web2 {
      margin-top: 50px;
   }
   .pro-1 {
      width: auto;
      margin: auto;
      background-color: #edf2f4;
   }

   .pro-2 {
      width: auto;
      margin: auto;
      margin-top: 30px;
   }

   .pro-3 {
      width: auto;
      margin: auto;
      margin-top: 30px;
   }
    .portfolio{
        height: 615px;
    }
    .port-para{
        width: 300px;
        height: 240px;
    }
    .projects{
        width: 100%;
        margin-left: 0px;
    }
    .project{
        width: 330px;
    }
    .google-para{
        width: 330px;
    }
    .name-in{
        width: 300px;
        margin-right: 30px;
    }
    .name{
        margin-right: 290px;
    }
    .email-in{
        width: 300px;
        margin-right: 30px;
    }
    .email{
        width: 105px;
        margin-right: 230px;
    }
    .message-in{
        width: 300px;
        margin-right: 30px;
    }
    .message{
        margin-right: 270px;
    }
}
@media screen and (max-width: 360px){
    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-h1{
        font-size: 35px;
    }
    .top-h2{
        font-size: 35px;
    }
    .top-h3{
        font-size: 35px;
    }
    .img-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
    }
    .profile{
        width: 200px;
        height: 200px;
    }
    .about-title{
        margin-top: 0px;
        font-size: 25px;
    }
    .about-p1{
        font-size: 12px;
    }
    .about-p2{
        font-size: 12px;
    }
    .port-para{
        width: 300px;
    }
    .project{
        width: 300px;
    }
    .dupe-google{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .google-para{
        width: 300px;
        font-size: 15px;
        height: 230px;
    }
}

